.empty_title {
  text-align: center;
  padding: 40px 0;
  font-weight: 700;
  font-size: large;
}

.cart_wrapper {
  padding: 32px 20px;
}

.btn_wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

.order_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  p {
    font-size: large;
    font-weight: 700;
  }
}
