.cart_icon {
  fill: white;
}

.sign_out_icon {
  fill: white;
}

.cart_dot {
  position: relative;
  display: inline-block;
}

.cart_dot::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 4px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 5px red;
  pointer-events: none;
}
